name: weread sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  sync:
    name: Sync
    permissions:
      contents: write
    runs-on: [self-hosted, macOS]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          python3 --version                    # 检查 Python 版本
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt     # 使用 pip3
      #- name: weread sync
      #  id: weread-sync
      #  run: |
      #    python main.py sync_read "${{secrets.WEREAD_COOKIE}}" "${{secrets.NOTION_TOKEN}}" "${{secrets.NOTION_DATABASE_ID}}" --calendar_db_id="${{secrets.NOTION_DATABASE_CALENDAR}}" --wxnotify_key="${{secrets.SCKEY}}"
 
  
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v20
        id: verify-changed-files
        with:
          files: |
            ./var/sync_read.db
      - name: Commit
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./var/sync_read.db
          git commit -m "auto sync"
          git push
